@import "~mixins/pixel";
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  // flex-direction: column;
  // margin: 1.5rem 0.8rem 1.5rem 0.8rem;
  justify-content: center;
  align-items: center;
}
#avatar {
  // margin: 10rem;
  // width: 10rem;
  padding: 0rem 1rem 0rem 1rem;
  background: var(--accent);
  text-align: center;
  font-size:1rem;
  @include pixel-border-thicc(
    $pixel: .125rem,
    $color: #532b2b,
    $bgColor: #381f1f
  );
  img {
    // height: 300px;
    // width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  canvas {
    width: 300px;
    height: 300px;
    margin-left: -1rem;
    margin-right: -1rem;
    // margin-bottom: 0.85rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
  }
}
#name {
  text-align: center;
  margin-top: 2.8rem;
  @include pixel-border-thicc(
    $pixel: .125rem,
    $color: #532b2b,
    $bgColor: #381f1f
  );
  h1 {
    margin-bottom: 0rem;
    // margin-top: -1rem;
  }
}
#status {
  text-align: center;
  margin-top: 2.8rem;
  @include pixel-border-thicc(
    $pixel: .125rem,
    $color: #532b2b,
    $bgColor: #381f1f
  );
  h1 {
    margin-bottom: 0rem;
    font-size: 2.5rem;
    // margin-top: -1rem;
  }
  p {
    font-weight: 900;
    font-size: 1.5rem;
  }
}