@import "~mixins/breakpoints.scss";

#home {
  overflow: hidden;
  .accent {
    color: var(--accent);
  }
  .dim {
    // color: #a0a0a0;
    color: #858585;
    // color: #ffffff75;
  }
  .smol {
    font-size: 1rem;
  }
  .container {
    display: flex;
    flex: 1;
    flex-direction: row;
    .item-container {
      min-height: calc(100vh - var(--nav-size));
      max-height: calc(100vh - var(--nav-size));
      min-width: 100vw;
      max-width: 100vw;
      // display: flex;
      // justify-content: center;
      // flex-direction: column;
      // align-items: center;
      overflow-y: auto;
    }
  }
}
