#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--nav-size);
  background-color: var(--background);

  user-select: none;
  .inner {
    padding: 0rem var(--padding-small) 0rem var(--padding-small);
    width: 100%;
    height: 100%;
    // max-width: var(--clamp);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    p {
      position: relative;
      z-index: 9999;
      &:hover {
        cursor: pointer;
      }
    }
  }
}