@font-face {
  src: url(~assets/fonts/Chivo.ttf) format('truetype');
  font-weight: 400;
  font-family: 'Chivo';
}
@font-face {
  src: url(~assets/fonts/Heading.woff) format('woff');
  font-weight: 400;
  font-family: 'Heading';
}
@font-face {
  src: url(~assets/fonts/Paragraph.ttf) format('truetype');
  font-weight: 400;
  font-family: 'Paragraph';
}
@font-face {
  src: url(~assets/fonts/Smol.woff) format('woff');
  font-weight: 400;
  font-family: 'Smol';
}
@font-face {
  src: url(~assets/fonts/7seg.ttf) format('truetype');
  font-weight: 400;
  font-family: '7seg';
}